@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/elephant');


.addAlbum-content{
  position: absolute;
  text-align: center;
  color: white;
  width: 100vw;
}

.addAlbum-body{
  position: absolute;
  text-align: left;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.image{
  display: flex;
  flex-direction: column;
}

#output{
  filter: drop-shadow(3px 5px 4px black);
  padding-right: 100px;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.addAlbum-content #addAlbum-form{
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.addAlbum-content h1{
  font-size: 60px;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'Abril Fatface', cursive;
}

.addAlbum-content #addAlbum-form input[type=text], input[type=number]{
  height: 15px;
  width: 600px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold; 
  background: #8d6d65;
  border-radius: 7px;
  border: 1px solid #4e3a36;
  color: rgb(255, 255, 255);
  overflow: hidden;
  opacity: 1;
  font-size: 25px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addAlbum-content #addAlbum-form textarea{
  width: 300px;
  padding: 15px 0;
  text-align: center;
  margin: 10px 20px;
  border-radius: 15px;
  font-weight: 400; 
  border: 2px solid white;
  background: white;
  color: #94716B;
  overflow: hidden;
  opacity: 0.75;
  resize: none;

}

.addAlbum-content #addAlbum-form #myFile{
  padding: 5px 5px 30px 5px;
  margin-left: 70px;
  cursor: pointer;
}

input::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 15px;
  color: #94716B;
}

input::file-selector-button::after {
  cursor: pointer;
}

.addAlbum-content #addAlbum-form #preview{
  border: none;
}

.addAlbum-content #addAlbum-form input:focus{
  outline: 5px solid #94716B; 
  opacity: 1;
  transition: 0.2s;
}

.addAlbum-content #addAlbum-form textarea:focus{
  outline: 5px solid #94716B; 
  opacity: 1;
  transition: 0.2s;
}

.addAlbum-content #addAlbum-form label{
    font-size: 20px;
    font-weight: 400;
}


@media screen and (max-width: 768px) {
  
  .addAlbum-body{
    position: absolute;
    text-align: center;
    color: white;
    width: 100vw;
    padding-top: 30px;
    display: block;
  }
  #output{
    filter: drop-shadow(3px 5px 4px black);
    padding-left: 50px;
  }
  .addAlbum-content #addAlbum-form{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }
  .addAlbum-content #addAlbum-form input[type=text], input[type=number]{
    height: 15px;
    width: 400px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold; 
    background: #8d6d65;
    border-radius: 7px;
    border: 1px solid #4e3a36;
    color: rgb(255, 255, 255);
    overflow: hidden;
    opacity: 1;
    font-size: 25px;
  }
}