@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/elephant');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.banner{
  width: 100vw;
  height: 100vh;
  background: #B79891;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.login-content h1{
  font-family: 'Elephant', sans-serif;
  font-size: 70px;
  margin-top: 80px;
  font-weight: 100;
  letter-spacing: 3px;
}

.login-content #login-form{
  font-weight: 100;
  font-size: 30px;
}

.login-content #login-form input{
  width: 400px;
  height: 20px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 15px;
  font-weight: 400; 
  border: 2px solid white;
  background: white;
  color: #94716B;
  overflow: hidden;
  opacity: 0.75;
}

.login-content #login-form input:focus{
  outline: 5px solid #94716B; 
  opacity: 1;
  transition: 0.2s;
}


.login-content #signup a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
}


.login-content #signup a:hover{
    text-decoration: underline;
    transition: 1s;
}
  


