@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/elephant');


body {
  min-height: 100vh;
  min-width: 100vw;
  background: #B79891;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.banner{
  width: 100vw;
  height: 100vh;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: 400; 
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #94716B;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #B79891;;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #ebe6e6,
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(195, 195, 195);
}
