@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/elephant');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar{
  margin: auto;  
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  filter: drop-shadow(2px 3px 1px rgb(62, 62, 62));

}

.navbar h1{
  width: 180px;
  color: white;
  font-family: 'Elephant', sans-serif;
  font-weight: 100;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  font-weight: 100;
  font-size: 20px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
}

.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: white;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}
