@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap'); 
@import url('https://fonts.cdnfonts.com/css/elephant');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Epilogue', sans-serif;
  font-weight: 300;
}

body{
  height: 100%; 
  width: 100%; 
  margin: 0rem; 
  overflow: hidden;
  overflow-x: hidden;
}

.banner{
  width: 100vw;
  height: 100vh;
}

.rack-content{
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
}

.rack-content h1{
  font-family: 'Abril Fatface', cursive;
  font-size: 60px;
  font-weight: 900;
  margin-top: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  opacity: 0.0
}

#buttons{
  display: flex;
  justify-content: center;
}

#addAlbum{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: 400; 
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  opacity: 0.0
}

#addSpotify{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: 400; 
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  opacity: 0.0
}

#image-track {
  display: flex; 
  gap: 5vmin; 
  position: fixed; 
  left: 50%; 
  top: 65%; 
  transform: 
  translate(-50%, -50%); 
  user-select: none;
}

#image-track > .album {
  width: 250px; 
  height: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

#image-track > .album .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  padding-top: 5px;
}

#image-track > .album .image{
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
  object-position: center;
  filter: drop-shadow(3px 5px 4px black)
}


#image-track > .album .iconDelete{
  width: 5vmin; 
  height: 5vmin; 
  object-fit: cover; 
  object-position: center;
  filter: drop-shadow(3px 5px 4px black);
  filter: invert(100%);
  padding-top: 20px;
}


#image-track > .album .iconView{
  width: 5vmin; 
  height: 5vmin; 
  object-fit: cover; 
  object-position: center;
  filter: drop-shadow(3px 5px 4px black);
  filter: invert(100%);
  padding-top: 20px;
}

#image-track > .album .iconUpdate{
  width: 5vmin; 
  height: 5vmin; 
  object-fit: cover; 
  object-position: center;
  filter: drop-shadow(3px 5px 4px black);
  filter: invert(100%);
  padding-top: 20px;
}

.iconView:hover{
  cursor: pointer;
  transform:scale(125%);
  transition: 0.5s;
}

.iconDelete:hover{
  cursor: pointer;
  transform:scale(125%);
  transition: 0.5s;
}

.iconUpdate:hover{
  cursor: pointer;
  transform:scale(125%);
  transition: 0.5s;
}

span{
  z-index: 1;
}

#addText{
  position: relative;
  z-index: 2;
}