body{
    height: 100%; 
    width: 100%; 
    background-color: #B79891; 
    margin: 0rem; 
    overflow: hidden;
}

#image-track > .image{
    width: 45vmin; 
    height: 45vmin; 
    object-fit: cover; 
    object-position: center;
}

#image-track {
    display: flex; 
    gap: 4vmin; 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: 
    translate(-50%, -50%); 
    user-select: none;
}


