@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.viewAlbum-content{
  position: absolute;
  text-align: center;
  color: white;
  width: 100vw;
}

.viewAlbum-body{
  position: absolute;
  text-align: left;
  color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 200px;

}

#output{
  filter: drop-shadow(3px 5px 4px black);
  padding-right: 0px;
}

.viewAlbum-content #viewAlbum-form{
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.viewAlbum-content h1{
  font-size: 60px;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: 'Abril Fatface', cursive;
}

.viewAlbum-content #viewAlbum-form input[type=text], input[type=number]{
  height: 15px;
  width: 600px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  font-weight: bold; 
  background: #8d6d65;
  border-radius: 7px;
  border: 1px solid #4e3a36;
  color: rgb(255, 255, 255);
  overflow: hidden;
  opacity: 1;
  font-size: 25px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=file]{
  padding: 5px 5px 30px 5px;
  margin-left: 70px;
  cursor: pointer;
}

input::file-selector-button {
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: 15px;
  color: #94716B;
}

input::file-selector-button::after {
  cursor: pointer;
}

.viewAlbum-content #viewAlbum-form #preview{
  border: none;
}

.viewAlbum-content #viewAlbum-form input:focus{
  outline: none;
  opacity: 1;
  transition: 0.2s;
}

.viewAlbum-content #viewAlbum-form label{
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
  .viewAlbum-body{
    position: absolute;
    text-align: center;
    color: white;
    width: 100vw;
    padding-top: 30px;
    display: block;
    padding-left: 0px;
  }
  #output{
    filter: drop-shadow(3px 5px 4px black);
    padding-right: 0px;
  }
  .viewAlbum-content #viewAlbum-form{
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .viewAlbum-content #viewAlbum-form input[type=text], input[type=number]{
    height: 15px;
    width: 400px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold; 
    background: #8d6d65;
    border-radius: 7px;
    border: 1px solid #4e3a36;
    color: rgb(255, 255, 255);
    overflow: hidden;
    opacity: 1;
    font-size: 25px;
  }
}

