<configuration> 

    <system.web>
        <customErrors mode="Off" />
        <authentication mode="None" />
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <httpErrors errorMode="Detailed"></httpErrors>
    </system.webServer> 

</configuration>